
@media screen and (max-width: 1127px) {
    .header-right {
        display: none;
    }
}

@media screen and (max-width: 743px) {
    .jt {
        height: 400px;
    }

    .list {
        display: none;
    }
}

header {
    width: 100%;
    height: 80px;
    /* background-color: rgb(0,0,0); */
}

.header-flexbox {
    display: flex;
}

.header-left {
    margin-right: auto;
    display: flex;
}

.headerlogo-icon {
    color: red;
    font-size: 2.2rem;
    margin-top: 23px;
    margin-left: 30px;
}

.form-group {
    margin-left: 2rem;
    margin-top: 1.4rem;
    width: 460px;
    height: 48px;
}

input::placeholder {
    color: #767676;
    font-weight: bold;
}

.font-awesome input {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ul-flex {
    display: flex;
}

.flex-item {
    margin-right: 2rem;
    line-height: 80px;
    font-size: 14px;
    color: #767676;
    font-weight: bold;
}

.flexitem-a {
    color: #767676;
}

.flexitem-a:hover {
    text-decoration: none;
    color: #767676;
    border-bottom: 2px solid #767676;
    padding-bottom: 1.7rem;
}

.flex-item:hover {
    border-bottom: solid #484848;

}

.jt {
    background: url('img/jumbotron.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
}

.jt-heading, .jt-paragraph {
    /* vertical-align: center; */
    color: white;
    margin-bottom: 28px;
}

.jt-heading {
    font-weight: bold;
    font-size: 46px;
}

.jt-paragraph {
    font-size: 18px;
}

.button-info {
    display: inline-block;
    color: #484848;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
}

.vt-center {
    padding: 207px 0;
    padding-left: 25px;
}

.heading {
    font-size: 32px;
    color: #484848;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}



.feature {
    margin-top: 20px;
}

.feature-title, .feature-contents {
    text-align: center;
}

.feature-icon {
    text-align: center;
    margin-bottom: 1rem;
    color: #007a87;
}

.feature-title {
    font-weight: bold;
    color: #484848;
}

.feature-contents {
    color: #767676;
    margin-bottom: 50px;
}

.giftcard {
    width: 100%;
    /* height: 400px; */
    background-color: #007a87;
}

.gift-icon {
    padding-top: 50px;
    text-align: center;
}

.gift-heading, .gift-paragraph {
    color: white;
    text-align: center;
}

.gift-heading {
    margin-top: 20px;
    font-weight: bold;
    font-size: 32px;
}

.gift-paragraph {
    font-size: 20px;
    margin-bottom: 48px;
}

.gift-button {
    text-align: center;
}

.gift-a {
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 40px;
    opacity: 0.6;
}

.gift-a:hover {
    opacity: 1.0;
}

footer {

}

ul {
    list-style: none;
}

.list {
    border-bottom: solid rgba(0,0,0,0.2);
    border-width: thin;
    margin-top: 50px;
}

.list-title {
    line-height: 50px;
    color: #484848;
    font-size: 14px;
    font-weight: bold;
}

.list-icon {
    color: #767676;
    margin-right: 15px;
    font-size: 1.2em;
}

.list-items {
    font-size: 14px;
}

.list-items a {
    color: #767676;
}

.list-items a:hover {
    color: #767676;
}

/* .copyright {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.copyright-a {
    color: #767676;
    font-size: 14px;
}

.copyright-a:hover {
    color: #767676;
}

.copyright-p {
    color: #767676;
    font-size: 14px;
}

.footerlogo-icon {
    font-size: 1.2em;
    float: left;
    display: block;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 40px;
}

.footer-left {
    margin-right: auto;
}



.sentence {
    margin-left: .7em;
}

.footer-button {
    float: right;
}

.lang, .money {
    color: #767676;
    border: solid #767676;
    border-radius: 5px;
    padding: 5px 7px;
    border-width: thin;
}
 */

 .flex-box {
     display: flex;
 }

 .copyright {
     margin-right: auto;
     display: flex;
     margin-top: 1rem;
 }

 .footerlogo-icon {
    font-size: 1.2em;
    display: block;
    padding-top: 30px;
    padding-left: 40px;
}

.sentence {
    margin-left: .7em;
}

.copyright-a {
    color: #767676;
    font-size: 14px;
    line-height: 5px;
}

.copyright-a:hover {
    color: #767676;
}

.copyright-p {
    color: #767676;
    font-size: 14px;
}

.lang, .money {
    color: #767676;
    border: solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px 7px;
    border-width: thin;
}

.footer-button {
    margin-right: 2rem;
}

.lang {
    margin-right: 1rem;
}

.footer-right {
    margin-top: 2rem;
}