@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-size: 1.2rem;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

.header {
  background-color: #333;
}

.gameTitle {
  color: #fff;
  font-size: 3rem;
  padding: 1.5rem;
}

.gameStart {
  font-size: 2rem;
  margin: 0 0 1.5rem 1.5rem;
}
/*# sourceMappingURL=style.css.map */