body {
    font: 1.1em/1.5 sans-serif;
    padding-top: 20px;
}

.main {
    border: 1px solid;
    margin: auto;
    padding: 10px 20px 20px;
    width: 760px;
}

/*属性セレクタを使うと*/
[href="#"] {
    background-color: crimson;
    color: white;
    padding: 5px;
}