body {
    font: 1.1em/1.5 sans-serif;
    padding-top: 20px;
}

.main {
    border: 1px solid;
    margin: auto;
    padding: 10px 20px 20px;
    width: 760px;
}

/*疑似要素を使うと*/
:link {
    color: crimson;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
    background-color: lightgray;
}

:focus {
    background-color: yellow;
}