body {
    padding: 1% 25%;
    font-family: sans-serif
}

ul {
    margin: 25px auto 0;
    padding: 12px;
    border: 2px dotted gray;
    list-style-position: inside;
    font-size: 1.5em;
}

li {
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid #224a6b;
}

:only-child {
    background-color: tomato;
}