body {
    font-size: 1.2em;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
}

div { 
    height: 25em;
    margin-top: 2em;
    position: relative;
}

dif:after {
    content: "DIVの後ろの文字ですよ！";
    font-size: 2em;
    position: absolute;
    top: 42%;
    left: 25%;
    z-index: -1;
}

div {
    background-color: rgba(255, 0, 0, .4);
}