@charset "utf-8";

body {
    padding: 1em 6em;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: square;
    list-style-position: inside;
}

li {
    border: solid 1px;
    margin-bottom: 5px;
}