@charset "utf-8";

body {
    font: 1.1em/1.3 sans-serif;
    margin: 0;
    padding: 0 10%;
}

nav {
    margin: 1.5em 0;
    visibility: visible;
}

a {

}

div {
    padding: 10px 20px;
    background-color: #eee;
    border: 10px solid #ddd;
}