@charset "utf-8";

body {
    font: 1.1em/1.3 sans-serif;
    margin: 0;
    padding: 0 10%;
    background-color: #ddd;
}

img {
    float: left;
}

div {
    padding: 10px 20px;
    background-color: #fff;
    width: 400px;
    margin: 20px auto;
}