div {
    margin: 50px auto;
    font: 1.1em/1.5 sans-serif;
    box-sizing: border-box;
}

.sketch-img {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background: url("Picture/図1.png") no-repeat 350px 200px;

}