
div {
    margin: 50px auto;
    font: 1.1em/1.5 sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.box {
    width: 80%;
    height: 500px;
    padding: 30px;
    background: url('Picture/図1.png') no-repeat center;
    background-size: cover;
    background-clip: content-box;
    border: 15px solid rgba(35, 69, 97, .6);
}