@charset "utf-8";

.rounded-box {
    width: 600px;
    height: 400px;
    background-color: #568E9D;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 15px;
}