@charset "utf-8";

body {
    background: #3a3a3a;
}

.box {
    margin: 3em auto;
    width: 700px;
    height: 500px;
    border-radius: 8px;
    background: url('Picture/図2.png');
    box-shadow: 0 0 10px 0 rgba(0, 20, 127, .8) inset;
}