@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*-----Media Queries-----*/
@media (max-width:992px) {

}

@media (max-width:768px) {

}

@media (max-width:576px) {

}

/*-----Firefox Bug Fix-----*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*-----Fixed Background Image-----*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}

/*-----Bootstrap Padding Fix-----*/
[class*="col-"] {
    padding: 1rem;
}
