/* MediaQuery */

/* CSS */
header {
    width: 100%;
    height: 82px;
    z-index: 10;
    position: fixed;
    background-color: white;
    /* margin-bottom: 82px; */
}

.flex-box {
    display: flex;
}

.header-left {
    margin-right: auto;
    line-height: 82px;
    display: flex;
}

.header-right {
    display: flex;
    line-height: 82px;
}

.logo-icon {
    position: absolute;
    top: .4rem;
    left: 5.4rem;
    color: #008489;
    vertical-align: middle;
    margin-right: auto;
    line-height: 82px;
}

.nav-list {
    margin-left: 6em;
}

.headerlist {
    list-style: none;
    display: flex;
}

.list-item {
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    margin-right: 2rem;
}

.header-p {
    color: #484848;
    font-size: 14px;
}

.price {
    color: #484848;
    font-size: 24px;
    font-weight: bold;
}

main {
    padding-top: 82px;
}

/* ====================================================================== */

.jt {
    background-image: url('img/jumbotron2.jpg');
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.search-box {
    width: 460px;
    height: 440px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4.75rem;
    margin-right: 5.75rem;
}

.searchbox-heading {
    font-size: 40px;
    font-weight: bold;
    margin-top: 2rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    line-height: 1em;
    letter-spacing: 0.005em;
    color: #333333;
}

.searchbox-paragraph {
    color: #333333;
    font-weight: bold;
    padding-top: 0.4rem;
    padding-left: 2rem;
    margin-bottom: 0;
}

.place, .blood1, .blood2 {
    color: #333333;
    border-style: solid;
    border-color: white;
}

.place {
    height: 2.8em;
    width: 395px;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.blood {
    display: flex;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

select {
    height: 3em;
}

.type {
    margin-left: 2.5rem;
}

.blood1 {
    width: 215px;
    margin-right: 20px;
}

.blood2 {
    width: 150px;
    padding-left: 0.5rem;
}

.pm-p {
    color: #484848;
    font-size: 14px;
}

.pm-price {
    font-weight: bold;
    font-size: 40px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.start-button {
    width: 395px;
    /* height: 50px; */
    padding: 25px 0;
    background-color: #ff5a5f;
    margin-left: 2rem;
    text-align: 50px;
}

.media1127-h1, .media1127 {
    display: none;
}

.media1127-h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 1em;
    letter-spacing: 0.005em;
    color: white;
    position: absolute;
    top: 13rem;
    left: 7rem;
}

/* ====================================================================== */

.features-media1127 {
    display: none;
}

.features {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.feature {
    margin-right: 0.5rem;
    margin-left: 2.5rem;
}

.feature-heading, .step-heading, .settlement-heading,
.airbnb-heading {
    color: #484848;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.feature-paragraph {
    color: #484848;
    line-height: 175%;
}

.steps-media1127 {
    display: none;
}

.steps {
}

.any::before, .steps::before, .settlement::before,
.difnum::before, .airbnb::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 4rem;
    height: 2px;
    background-color: #333;
    left: 48%;
    margin-bottom: 1rem;
}

.step-title, .any-title, .settlement-title,
.difnum-title, .airbnb-title {
    font-size: 60px;
    text-align: center;
    padding-top: 1.5rem;
}

.step, .settlement-item {
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.step-heading {
    color: #333333;
    font-size: 24px;
    margin-top: 1rem;
}

.step-paragraph, .settlement-paragraph {
    color: #333333;
    font-size: 16px;
}

.any-media1127 {
    display: none;
}

.any {
    margin-bottom: 8rem;
}

.any-feature1, .any-feature2 {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    color: #484848;
}

.any-feature1 {
    line-height: 1.75rem;
}

.any-feature2 {
    line-height: 2.65rem;
}

.any-image {
    height: 0;
    padding-top: 56.20%;
    background: url('img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg') 0 0 no-repeat;
    background-size: contain;
}

.settlement-media1127 {
    display: none;
}

.host-example-media1127 {
    display: none;
}

.host-example {
    margin-bottom: 3rem;
}

.host-image {
    /* height: 0; */
    /* padding-top: 56.20%; */
    background: url('img/4e8524b4-205e-4fdf-9f0a-f1f36905c8f6.jpg') 0 0 no-repeat;
    background-size: contain;
    height: 517px;
    width: 517px;
    margin-left: 3.3rem;
}

.host-sentence {
    margin-left: 6.5rem;
    margin-top: 5.60rem;
}


.sentence::before {
    content: '“';
    display: inline-block;
    position: absolute;
    color: rgb(253,179,43);
    font-size: 100px;
    top: -5rem;
    /* bottom: 3rem; */
    /* background-color: #000; */
}

.host-sentence h2 {
    color: #484848;
    margin-bottom: 1.5rem;
}

.host-sentence p {
    color: #787878;
    font-size: 16px;
}

.host-check {
    display: inline-block;
    border: solid 2px #333;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    color: #787878;
    /* background-color: #000; */
    margin-top: 0.5rem;
}

.difnum-media1127 {
    display: none;
}

.difnum-items {
    margin-top: 2rem;
}

.difnum-p1, .difnum-p2 {
    text-align: center;
    color: #484848;
}

.difnum-p1 {
    font-size: 60px;
}

.airbnb-media1127 {
    display: none;
}

.airbnb {
    margin-bottom: 12rem;
}

.airbnb-items {
    margin-top: 3rem;
}

.airbnb-paragraph {
    line-height: 1.75rem;
    color: #484848;
}

.question-media1127 {
    display: none;
}

.question {
    line-height: 4rem;
    font-size: 18px;
    margin-bottom: 6rem;
}

.hosting-learn-media1127 {
    display: none;
}

.hosting-learn-media743 {
    display: none;
}

.hosting-learn {
    margin-bottom: 4rem;
}

.hosting-image {
    width: 22.75rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.hosting-learn h4, .hosting-heading, .hosting-paragraph {
    color: #484848;
}

.hosting-heading {
    font-size: 16px;
}

.hosting-paragraph, .hosting-item a {
    font-size: 14px;
}

.hosting-heading, .hosting-paragraph {
    margin-bottom: 0;
}

.under-jt-media1127 {
    display: none;
}

.under-jt {
    background: url('img/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg') 0 0 no-repeat;
    max-width: 1280px;
    height: 440px;
    width: 100%;
    /* padding-top: 34.38%; */
    /* padding-top: 23.75%; */
    /* padding-top: 440px; */
    background-size: cover;
    background-position-x: 50%;
    margin: 0 auto;
    /* position: relative; */
}

.under-jt-item {
    padding: 0 24px;
    margin: 0 100px;
}


.under-jt h1 {
    color: white;
    font-weight: bold;
    padding: 96px 0 8px;
    margin-right: 60%;
}

.under-jt span {
    display: inline-block;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    margin-top: 32px;
    color: #484848;
}

/* footer */
.footerlist {
    list-style: none;
}

.list {
    border-width: thin;
    margin-top: 4rem;
}

.title {
    line-height: 50px;
    color: #484848;
    font-size: 14px;
    font-weight: bold;
}

.list-icon {
    color: #767676;
    margin-right: 15px;
    font-size: 1.2em;
}

.ListItem {
    font-size: 14px;
}

.ListItem a {
    color: #767676;
}

.ListItem a:hover {
    color: #767676;
}

.copyright {
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
}

.footerlogo-icon {
    font-size: 1.2em;
    display: block;
    padding-top: 30px;
    padding-left: 40px;
}

.copyright-sentence {
    margin-left: .7em;
}

.copyright-a {
    color: #767676;
    font-size: 14px;
    line-height: 5px;
}

.copyright-a:hover {
    color: #767676;
}

.copyright-p {
    color: #767676;
    font-size: 14px;
}

.lang, .money {
    color: #767676;
    border: solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px 7px;
    border-width: thin;
}

.footer-button {
    margin-right: 2rem;
}

.lang {
    margin-right: 1rem;
}

.footer-right {
    margin-top: 2rem;
}

.footer-copyright {
    display: none;
}

/* ============================================================ */

@media screen and (max-width: 1127px) {
    .flexbox-media1127-1 {
        display: flex;
        justify-content: center;
        padding-bottom: 4.5rem;
    }

    .flexbox-media1127-2 {
        display: flex;
    }

    .top {
        display: none;
        width: 0;
        height: 0;
    }

    main {
        padding: 0!important;
    }

    .jt {
        height: 280px!important;
        background-color: rgba(0, 0, 0, 1);
        background-size: cover;
        position: relative;
    }
	
    .jt::before {
        content: ' ';
        background-color: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .search-box {
        display: none;
    }

    .media1127-h1, .media1127 {
        display: block;
    }

    .media1127 {
        /* height: 300px; */
        /* width: 80%; */
        /* padding: 0 2rem;         */
        max-width: 696px;
        margin: 0 auto;
    }

/*     .media1127 p {
        width: 100%;
        color: #333333;
        font-weight: bold;
        margin: 0;
        margin-top: 1.25rem;
    }
 */

     .searchbox-paragraph {
        color: #333333;
        font-weight: bold;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        top: 18.85rem;
        left: 13.5rem;
    }
    
    .t {
        width: 100%;
        font-weight: bold;
        color: #333333;
        font-weight: bold;
        margin: 0 !important;
        margin-top: 1.25rem !important;
        margin-bottom: .5rem !important;
    }

    .place, .blood1, .blood2 {
        color: #333333;
        border-style: solid;
        border-color: white;
        display: inline-block !important;
    }
    
    .place {
        height: 2.8em;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        border: solid 1px rgba(235,235,235,1);
        border-radius: 5px;
    }
    
    .blood {
        display: flex;
        /* justify-content: flex-start; */
        width: 100%;
        margin-top: 0.6rem;
        margin-bottom: 1rem;
    }
    
    select {
        height: 3em;
    }

    .type {
        margin-left: 0;
    }

    .blood1 {
        /* width: 40%; */
        width: 100%;
        margin: 0;
        padding: 0;
        margin-right: 1rem;
        border: solid 1px rgba(235,235,235,1);
        border-radius: 5px;
    }
    
    .blood2 {
        width: 70%;
        margin: 0;
        padding: 0;
        /* padding-left: 0.5rem; */
        border: solid 1px rgba(235,235,235,1);
        border-radius: 5px;
    }
    
    .pm-p {
        color: #484848;
        font-size: 14px;
        margin: 0;
        padding: 0;
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
    }
    
    .pm-price {
        font-weight: bold;
        font-size: 40px;
        margin: 0;
    }
    
    .start-button {
        width: 100%;
        /* height: 50px; */
        padding: 25px 0;
        background-color: #ff5a5f;
        margin-left: 2rem;
        text-align: 50px;
        margin: 0;
    }

    .features-media1127 {
        display: block;
        width: 100%;
        margin-top: 2.5rem;
    }

    .features {
        display: none;
    }

    .feature {
        width: 48%;
        margin-right: 0;
        margin-left: 0;
        margin: 0 auto;
    }

    .feature-heading, .step-heading, .settlement-heading,
    .airbnb-heading {
        color: #484848;
        font-size: 24px;
        margin-bottom: 1rem;
    }

    .feature-paragraph {
        color: #484848;
        line-height: 175%;
        margin-bottom: 3rem;
    }

    .step-title, .any-title, .settlement-title,
    .difnum-title, .airbnb-title {
        font-size: 40px;
    }

    .steps {
        display: none;
    }

    .steps-media1127 {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .step {
        width: 48%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .step-paragraph {
        margin: 0;
        padding: 0;
    }

    .steps-media1127::before, .any-media1127::before, .settlement-media1127::before,
    .difnum-media1127::before, .airbnb-media1127::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 4rem;
        height: 2px;
        background-color: #333;
        left: 48%;
        margin-bottom: 1rem;
    }

    .any {
        display: none;
    }

    .any-media1127 {
        display: block;
        width: 100%;
    }

    .any-title {
        margin-top: 12rem;
        margin-bottom: 2.5rem;
    }

    .any-feature1 {
        width: 58%;
        margin: 0 auto;
    }

    .any-feature2 {
        width: 58%;
        margin: 0 auto;
        padding-top: 1.5rem;
        padding-bottom: 5rem;
    }

    .any-images {
        width: 100%;
    }

    .any-image {
        /* padding-top: 25px; */
        width: 57.5%;
        padding-top: 36.5%;
        background: url('img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg') 0 0 no-repeat;
        background-size: contain;
        margin: 0 auto;
    }

    .settlement {
        display: none;
    }

    .settlement-media1127 {
        display: block;
        width: 100%;
        margin-bottom: 6rem;
    }

    .settlement-item {
        padding-top: 2rem;
        margin: 0 auto;
        width: 48%;
    }

    .host-example-media1127 {
        display: block;
        width: 100%;
    }

    .host-example {
        display: none;
    }

    .host-image {
        /* height: 0; */
        /* padding-top: 56.20%; */
        background: url('img/4e8524b4-205e-4fdf-9f0a-f1f36905c8f6.jpg') 0 0 no-repeat;
        background-size: contain;
        height: 325px;
        width: 325px;
        margin-left: 0;
        margin-right: 4rem;
    }
    
    .host-sentence {
        width: 24%;
        margin: 0;
        padding: 0;
        /* margin-left: 6.5rem; */
        margin-top: 2.5rem;
    }
    
    
    .sentence-media1127::before {
        content: '“';
        display: inline-block;
        position: absolute;
        color: rgb(253,179,43);
        font-size: 100px;
        top: -5rem;
    }
    
    .host-sentence h2 {
        font-size: 18px;
        color: #484848;
        margin-bottom: 1.5rem;
    }
    
    .host-sentence p {
        color: #787878;
        font-size: 14px;
    }
    
    .host-check {
        display: inline-block;
        border: solid 2px #333;
        border-radius: 5px;
        padding: 0.75rem 1.5rem;
        color: #787878;
        /* background-color: #000; */
        margin-top: 0.5rem;
    }

    .difnum {
        display: none;
    }

    .difnum-media1127 {
        display: block;
        width: 100%;
    }

    .difnum-p1 {
        font-size: 40px;
    }

    .difnum-p2 {
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .difnum-items {
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;
    }

    .difnum-item {
        width: 20%;
    }

    .airbnb {
        display: none;
    }

    .airbnb-media1127 {
        display: block;
        width: 100%;
        margin-bottom: 8.5rem;
    }

    .airbnb-item {
        width: 48%;
        margin: 0 auto;
    }

    .question {
        display: none;
    }

    .question-media1127 {
        display: block;
        width: 100%;
        margin-bottom: 4rem;
    }

    .question-item {
        width: 55%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: solid .5px #EDEDED;
        margin: 0 auto;
        font-size: 16px;
    }

    .hosting-learn {
        display: none;
    }

    .cenetr1127 {
        width: 100%;
    }

    .hosting-learn-media1127 {
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        text-align: center; /* ADD */
    }

    .hosting-learn-media1127 h4 {
        margin-bottom: 1rem;
    }

/*     .hosting-items {
        display: block;
        width: 100%;
        padding: 0 24px;
        margin: 0 auto;
    } */

    .hosting-items {
        /* display: block; */
        display: inline-block; /* ADD */
        /* width: 100%; */
        text-align: left; /* ADD */
        padding: 0 24px;
        margin: 0 auto;
    }

    .hosting-item {
        width: 12.75rem;
        margin-right: 1rem;
    }

    .hosting-sentence {
        border-right: solid 1px rgba(120,120,120,0.4);
        border-bottom: solid 1px rgba(120,120,120,0.4);
        border-left: solid 1px rgba(120,120,120,0.4);
    }

    .hosting-image1, .hosting-image2, .hosting-image3 {
        width: 100%;
        height: 6.55rem;
        background-size: cover !important;
    }

    .hosting-heading, .hosting-paragraph {
        font-size: 14px;
        width: 85%;
        margin-left: 1rem;
    }

    .hosting-heading {
        padding-top: 0.5rem;
    }
    
    .hosting-paragraph {
        padding-bottom: 0.5rem;
    }

    .hosting-image1 {
        background: url('img/489faa5d-9519-48fa-aa0e-fe9673165e43.jpg') 0 0 no-repeat;
    }

    .hosting-image2 {
        background: url('img/b77eb430-aa14-4ceb-a832-109341f798cd.jpg') 0 0 no-repeat;
    }

    .hosting-image3 {
        background: url('img/1ad4d764-38a6-464b-8fdd-b0f3339adf2f.jpg') 0 0 no-repeat;
    }

    .under-jt {
        display: none;
    }

    .under-jt-media1127 {
        display: block;
        background: url('img/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg') 0 0 no-repeat;
        max-width: 1280px;
        height: 440px;
        width: 100%;
        background-size: cover;
        background-position-x: 50%;
        margin: 0 auto;
    }

    .under-jt-items {
        width: 100%;
    }

    .under-jt-item {
        width: 696px;
        height: 256px;
        padding: 0 24px;
        /* margin: 0 215.5px; */
        margin: 0 auto;
    }
    
    .h1-width {

    }
    
    .under-jt-media1127 h1 {
        width: 330px;
        height: 184px;
        color: white;
        font-weight: bold;
        padding: 96px 0 8px;
        /* margin-right: 45%; */
    }
    
    .under-jt-media1127 span {
        display: inline-block;
        font-weight: bold;
        background-color: white;
        border-radius: 5px;
        padding: 0.75rem 1.5rem;
        margin-top: 32px;
        color: #484848;
    }

    .title {
        width: 115.6px;
    }

    .footerlist {
        width: 6.5rem;
        padding: 0 8px;
    }
}

/* ============================================================ */
@media screen and (max-width: 743px) {
    
    .blood {
        display: block;
    }

    .blood2 {
        width: 100%;
        margin-top: 0.5rem;
    }
    
    .pm-price {
        font-size: 32px;
    }

    .features-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .feature {
        width: 100%;
        margin: 0;
    }

    .steps-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .step {
        width: 100%;
        margin: 0;
        margin-top: 4rem;
    }

    .any-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .any-feature1 {
        width: 100%;
        margin: 0;
    }

    .any-feature2 {
        width: 100%;
        margin: 0;
    }

    .any-image {
        width: 695px;
        height: 695px;
        padding-top: 0;
        background-size: cover;
        background-position: 50% 50%;
        margin: 0;
    }

    .settlement-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .settlement-item {
        margin: 0;
        width: 100%;
    }

    .host-example-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .flexbox-media1127-1 {
        display: block;
        width: 100%;
    }

    .host-image {
        height: 695px;
        width: 695px;
        margin-left: 0;
        margin-right: 0;
    }

    .host-sentence {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 2.5rem;
    }

    .difnum-items {
        display: block;
        margin-bottom: 8rem;
        margin-top: 2rem;
    }

    .difnum-item {
        width: 100%;
    }

    .difnum-p1, .difnum-p2 {
        text-align: left;
    }

    .steps-media1127::before, .any-media1127::before, .settlement-media1127::before,
    .difnum-media1127::before, .airbnb-media1127::before {
        left: 3%;
    }
    
    .difnum-media1127 {
        width: 100%;
        padding: 0 24px;
    }

    .step-title, .any-title, .settlement-title,
    .difnum-title, .airbnb-title {
        /* font-size: 60px; */
        text-align: left;
        /* padding-top: 1.5rem; */
    }

    .airbnb-media1127 {
        width: 100%;
        padding: 0 24px;
        margin-bottom: 5rem;
    }

    .airbnb-item {
        width: 100%;
        margin: 0;
    }

    .question-media1127 {
        padding: 0 24px;
    }

    .question-item {
        width: 100%;
    }

    .hosting-learn-media1127 {
        display: none;
    }

    .hosting-learn-media743 {
        display: block;
        padding: 0 24px;
        margin-bottom: 3rem;
    }

    .hosting-image1, .hosting-image2, .hosting-image3 {
        width: 76px !important;
        height: 76px;
        /* margin-right: 1rem; */
        /* padding-right: 1rem; */
        background-position: 50% 50%;
        background-size: cover !important;
        background-repeat: no-repeat;
    }

    .hosting-items {
        width: 93%;
        padding: 0;
    }

    .hosting-item {
        display: flex;
        width: 100%;
        margin-bottom: 1.5rem;
        border-top: solid 0.5px rgba(120,120,120,0.4);
        border-right: solid 0.5px rgba(120,120,120,0.4);
        border-bottom: solid 0.5px rgba(120,120,120,0.4);
        box-shadow: 1px 1px 1px rgb(120,120,120,0.5);
    }

    .hosting-sentence {
        width: 40%;
        padding: 16px 0;
        padding-left: 1rem;
        border: transparent;
    }

    .hosting-heading, .hosting-paragraph {
        margin: 0;
        padding: 0;
    }

    .under-jt-media1127 {
        display: block;
        height: 375px;
    }

    .under-jt-item {
        margin: 0;
    }

    .under-jt-media1127 h1 {
        font-size: 38px;
        padding: 64px 0 8px;
        margin: 0;
    }

    .list {
        display: none;
    }


    .media-over {
        display: none;
    }

    .footer-copyright {
        display: block;
        width: 100%;
        padding: 24px;
    }
}