@charset "utf-8";

// definitions
@import 'variables';     // 変数定義
@import 'mixins';        // 関数定義
@import 'media';         // メディアクエリ


html {
    font-size: 62.5%;
}
body {
    color: #333333;
    font-size: 1.2rem;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}


// .header, .main, .footer {
//     @include workframeStyle;
// }
.header {
    width: $headerWidth;
    height: $headerHeight;
    background-color: #333333;
    box-shadow: 0 0 5px 1px #333333;
}
.main {
    display: block;
    width: 160rem;
    // height: 600px;
    margin: 0 auto;
}
.footer {
    @include footerStyle;
}

.global-nav > ul {
    display: flex;
}
.titleLogo {
    vertical-align: middle;
}
.nav-item > a {
    font-size: 2.2rem;
    color: #fff;
    margin: 20px 30px;
    //padding: 20px 30px;
    line-height: 100px;
}
.nav-item > a:hover {
    border-bottom: 1px solid #fff;
}
.nav-items {
    margin-right: auto;
}
.linkImage-Twitter {
    width: 100px;
    color: white;
    margin-top: $headerHeight / 3.4;
}

.profile, .skills, .contact {
    margin-top: 5rem;
}
.section {
    // padding: 7.5rem 0;
    margin: 7.5rem 0px;
    // border-bottom: 0.25px solid rgba(51,51,51,0.75);
}
// .section::after {
//     content: '';
//     width: 40rem;
//     border-bottom: 1px solid #333;
// }
.heading {
    @include headingStyle;
}
.subheading {
    @include subHeadingStyle;
}
.jumbotron {
    background: #d5891c url('../image/emile-perron-xrVDYZRGdw4-unsplash.jpg') no-repeat center center / 100% 100%;
    height: 0;
    background-size: cover;
    width: 100%;
    padding-top: 54.50%;
    // margin: 0 auto;
    position: relative;
}
.jumbotronTexts {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 30rem;
    margin-left: 10rem;
}
.jumbotronText {
    font-size: 7.5rem;
    margin-bottom: 6rem;
}
.jumbotronText2 {
    font-size: 2.4rem;
    line-height: 35px;    
}
.hello {
    border-bottom: 3px solid #333;
}
.profileItems {
    display: flex;
    // margin: 0 auto;
    width: 1400px;
    // background-color: #999;
    margin: 0 auto;
}
.profiletexts {
    line-height: normal;
    margin: 7.5rem 0 0;
}
.profiletext {
    font-size: 3.2rem;
    margin: 10px 0;
}
.profileImg {
    margin: 50px;
    width: 520px;
    height: 380px;
    border-radius: 20px;
}
.profileName {
    font-size: 4.8rem;
}
.text {
    font-size: 3rem;
    margin: 30px 0 30px 30px;
}
.introduction {
    @include introductionStyle;
}
.skillItems {
    display: flex;
    justify-content: center;
    // position: relative;
    margin: 5rem 0;
}
.skillItem {
    width: 300px;
    // background-color: #333;
    // border: #333 1px solid;
    margin: 0 30px;
}
.skillText {
    // @include skillTextStyle;
    text-align: center;
    font-size: 2.4rem;
}
i {
    width: 100%;
}
.skillIcon-HTML, .skillIcon-JS {
    @include skillIconStyle;
    text-align: center;
    vertical-align: middle;
}
.skillIcon-HTML {
    color: #ff9900;
}
.skillIcon-JS {
    color: #FFD700;
}
.works-items {
    display: flex;
    justify-content: center;
}
.works-item {
    width: 450px;
    height: 550px;
    margin: 0 2rem;
    // box-shadow: 0.25px 0.25px 0.25px 0.25px #333;
}
.worksPortfolio {
    border: 1px solid #e2e2e2;
}
.worksLP {
    border: 1px solid #e2e2e2;
}
.worksResponse {
    border: 1px solid #e2e2e2;
}
.worksLogo {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;
}
.worksTexts {
    display: flex;
    margin-top: 1.4rem;
    padding: 1rem 1rem;
    border-bottom: 2px solid rgba(51,51,51,0.5);
}
.worksText {
    @include worksTextStyle;
}
.worksImg {
    margin: 1.4rem 0;
    width: 450px;
    height: 250px;
}
.worksIntroduction {
    font-size: 1.8rem;
    padding: 1.5rem;
    line-height: 2.125rem;
}
.contactItem {
    display: flex;
    width: 490px;
    margin: 0 auto;
}
.contactImg {
    margin-right: 3rem;
}
.contactText {
    font-size: 5rem;
    line-height: 64px;
}
.copyright {
    font-size: 2.6rem;
    color: #fff;
    line-height: $footerHeight;
    padding-left: 3rem;
}
.bb {
    padding-bottom: 5rem;
    border-bottom: 0.25px solid rgba(51,51,51,0.9);
}


//------------------------------------------------------
//  iPhone用
//------------------------------------------------------
@include mediaiPhoneX {
    .header {
        display: none;
    }
    .main {
        width: 100%;
        margin: 0 auto;
    }
    .section {
        margin: 3rem 0;
    }
    .jumbotronTexts {
        margin: 0;
        margin-left: .65rem;
        margin-bottom: 7.5rem;
    }
    .jumbotronText {
        font-size: 2.5rem;
        margin: 0;
    }
    .jumbotronText2 {
        display: none;
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.25rem;
    }
    .hello {
        border-bottom: 1px solid #333;
    }
    .heading {
        width: 200px;
        color: #333;
        font-size: 4.4rem;
        border-bottom: 1px solid #333;
        margin: 4rem auto;
        text-align: center;
    }
    .profileItems {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .profileImg {
        width: 300px;
        height: 230px;
        border-radius: 20px;
        text-align: center;
        margin: 0 3.75rem;
    }
    .profiletexts {
        margin: 0;
        margin-left: 1.5rem;
    }
    .profiletext {
        font-size: 1.6rem;
    }
    .profileName {
        font-size: 3.6rem;
    }
    .bb {
        padding: 0;
        border: none;
    }
    .works-items {
        display: block;
    }
    .works-item {
        width: 300px;
        height: 500px;
        margin: 3rem auto;
    }
    .worksImg {
        width: 300px;
        height: 200px;
        margin: 0;
        margin-top: 1.4rem;
    }
    .worksTexts {
        margin: 0;
    }
    .worksText {
        font-size: 2rem;
    }
    .worksIntroduction {
        font-size: 1.6rem;
    }
    .worksLogo {
        width: 2rem;
        height: 2rem;
    }
    .contactText {
        font-size: 2.4rem;
    }
    .contactImg {
        margin-right: 1.5rem;
    }
    .contactItem {
        width: 265px;
    }
    .copyright {
        padding: 0;
        text-align: center;
    }
}