//------------------------------------------------------
//  ワークフレーム
//------------------------------------------------------
$borderWorkFrame: 0.25px solid #ccc;    // ワークフレーム用ボーダー

// ワークフレーム用スタイル
@mixin workframeStyle {
    border: $borderWorkFrame;
}

//------------------------------------------------------
//  Media-breakPoint
//------------------------------------------------------
$breakPointiPhoneX: 420px;
$breakPointiPad: 0px;

//------------------------------------------------------
//  ヘッダー部分
//------------------------------------------------------
$headerWidth: 100%;     // ヘッダー幅
$headerHeight: 100px;    // ヘッダー高さ

//------------------------------------------------------
//  メイン部分
//------------------------------------------------------

// 主項目タイトルスタイル
@mixin headingStyle {
    width: 400px;
    color: #333;
    font-size: 8.8rem;
    border-bottom: 3px solid #333;
    margin: 4rem auto;
    text-align: center;
}

@mixin subHeadingStyle {
    color: #333;
    font-size: 4.4rem;
    padding-left: 1rem;
    margin: 2rem 0;
    opacity: 0.9;
    text-align: center;
}

@mixin introductionStyle {
    color: #333;
    font-size: 2.4rem;
    margin: 1.5rem 0 2rem 0;
}

@mixin skillIconStyle {
    display: inline-block;
}

@mixin skillTextStyle {
    width: 150px;
    bottom: 1.5rem;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

@mixin worksTextStyle {
    display: inline-block;
    font-size: 2.8rem;
    color: #333;
    // border-radius: 0 10px 10px 0 / 0 10px 10px 0;
    // background-color: #fff;
    // box-shadow: 1px 1px 1px #333;
    // padding: 1rem 1rem;
    // margin-top: 1.4rem;
}

//------------------------------------------------------
//  フッター部分
//------------------------------------------------------
$footerWidth: 100%;     // フッター幅
$footerHeight: 75px;    // フッター高さ

@mixin footerStyle {
    width: $footerWidth;
    height: $footerHeight;
    background-color: #333333;
}

//------------------------------------------------------
//  メディアクエリ
//------------------------------------------------------
@mixin mediaiPhoneX {
    @media screen and (max-width: $breakPointiPhoneX) {
        @content;
    }
}

@mixin mediaiPad {
    @media screen and (max-width: $breakPointiPad) {
        @content;
    }
}