#div1 {
    background-color: rgba(255, 0, 0, 1.0);
}

#div2 {
    background-color: rgba(255, 0, 0, 0.9);
}

#div3 {
    background-color: rgba(255, 0, 0, 0.8);
}

#div4 {
    background-color: rgba(255, 0, 0, 0.7);
}

#div5 {
    background-color: rgba(255, 0, 0, 0.6);
}

#div6 {
    background-color: rgba(255, 0, 0, 0.5);
}

#div7 {
    background-color: rgba(255, 0, 0, 0.4);
}

#div8 {
    background-color: rgba(255, 0, 0, .3);
}

#div9 {
    background-color: rgba(255, 0, 0, .2);
}

#div10 {
    background-color: rgba(255, 0, 0, .1);
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10 {
    width: 100px;
    height: 100px;
    font-size: 400%;
}

#container {
    width: 98%;
    height: 400px;
    background-color: papayawhip;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}





