header, footer {
    background-color: #eee;
}

.container {
    display: flex;

}

.left {
    flex: 0 100px;
    background-color: tomato;
}

.right {
    flex: 0 100px;
    background-color: pink;
}

.center {
    flex: 1 100px;
    background-color: skyblue;
}

@media all and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .center {
        order: 1;
        flex: 100%;
    }

    .left {
        order: 2;
        flex: 100%;
    }

    .right {
        order: 3;
        flex: 100%;
    }
}