body {
    color: #222;
    font: normal 1.1em/1.5 sans-serif;
    margin: 80px auto;
    widows: 60%;
}

.intro::first-letter {
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: gray;
    font-size: 100px;
}